.a-gift-for-you-straight-from-parent,
.id-en-version {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  text-align: left;
  font-family: var(--font-inter);
}
.id-en-version {
  width: 100%;
  min-width: 350px;
  max-width: 450px;
  line-height: normal;
  letter-spacing: normal;
  font-size: 7.5px;
  color: var(--color-white);
}
.a-gift-for-you-straight-from-parent {
  align-self: stretch;
  height: 583px;
  padding: 25px var(--padding-20) 0 var(--padding-30);
  box-sizing: border-box;
  gap: var(--gap-8);
  background-image: url(./public/Frame-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 0;
  font-size: var(--font-size-12);
  color: var(--color-darkslategray);
}
.a-gift-for {
  width: 250px;
  position: relative;
  font-size: var(--font-size-24);
  line-height: 24px;
  font-weight: 800;
  display: inline-block;
  z-index: 0;
}
.leaf5-icon,
.let-our-tree-mendous {
  position: absolute;
  margin: 0 !important;
}
.let-our-tree-mendous {
  width: 233px;
  top: 93.14%;
  left: calc(50% - 145px);
  line-height: 14px;
  display: inline-block;
  color: var(--color-white);
  z-index: 1;
}
.leaf5-icon {
  width: 39.1px;
  height: 6.67%;
  top: 6.17%;
  bottom: 87.15%;
  left: calc(50% + 59px);
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.leaf7-icon {
  width: 35.3px;
  height: 6.33%;
  top: 54.03%;
  bottom: 39.64%;
  left: calc(50% + 89px);
  object-fit: contain;
  z-index: 3;
}
.button-down-icon,
.leaf3-icon,
.leaf7-icon {
  position: absolute;
  margin: 0 !important;
  max-height: 100%;
}
.leaf3-icon {
  width: 52.6px;
  height: 7.67%;
  top: 57.63%;
  bottom: 34.7%;
  left: calc(50% - 144px);
  object-fit: contain;
  z-index: 4;
}
.button-down-icon {
  width: 25px;
  height: 4.29%;
  top: 91.42%;
  bottom: 4.29%;
  left: calc(50% + 120px);
  z-index: 5;
}
.text {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-4);
  z-index: 6;
}
.since-2021-over-container {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 14px;
}
.since-2021-over {
  font-weight: 500;
}
.learn-more-about {
  width: 233px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 14px;
  font-weight: 500;
  display: inline-block;
}
.flood-fighting-is-in-my-roots-parent {
  align-self: stretch;
  height: 535px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px var(--padding-30);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-8);
  background-image: url(./public/Frame-2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-12);
  color: var(--color-darkslategray);
  font-family: var(--font-inter);
}
.flood-fighting-is {
  width: 250px;
  position: relative;
  font-size: var(--font-size-24);
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 800;
  display: inline-block;
  z-index: 0;
}
.if-there-was-a-storm-we-lock-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}
.if-there-was {
  width: 215px;
  position: relative;
  line-height: 14px;
  font-weight: 500;
  display: inline-block;
}
.id-en-version-text,
.text-wrapper {
  border-radius: var(--br-10);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}
.text-wrapper {
  width: 260px;
  background-color: var(--color-limegreen);
  padding: 7px 9px;
  z-index: 2;
}
.id-en-version-text {
  width: 234px;
  padding: var(--padding-2) 0 0;
  gap: var(--gap-4);
}
.cilacap-indonesia {
  font-weight: 800;
}
.besides-acting-as-container,
.cilacap-indonesia {
  align-self: stretch;
  position: relative;
  line-height: 14px;
}
.frame-child,
.share-button {
  margin: 0 !important;
  position: absolute;
}
.frame-child {
  width: 1.5px;
  height: 42.99%;
  top: 43.93%;
  bottom: 13.08%;
  left: calc(50% + 145px);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 3;
}
.share-button {
  cursor: pointer;
  border: 0;
  padding: 0 9px;
  background-color: var(--color-darkslategray);
  height: 4.67%;
  top: 89.72%;
  bottom: 5.61%;
  left: calc(50% + 63.5px);
  border-radius: 12.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 4;
}
.share-this {
  position: relative;
  font-size: var(--font-size-12);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
}
.leaf8-icon {
  width: 67px;
  position: absolute;
  margin: 0 !important;
  height: 9.21%;
  top: 16.64%;
  bottom: 74.15%;
  left: calc(50% + 76px);
  max-height: 100%;
  object-fit: contain;
  display: none;
  z-index: 5;
}
.id-en-version-child {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 2;
}
.we-naturally-improve-the-land-parent {
  align-self: stretch;
  height: 510px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-1) var(--padding-30) 25px;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-8);
  background-image: url(./public/Frame-3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 3;
  text-align: left;
  font-size: var(--font-size-12);
  color: var(--color-darkslategray);
  font-family: var(--font-inter);
}
.we-naturally-improve {
  width: 209px;
  position: relative;
  font-size: var(--font-size-24);
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 800;
  display: inline-block;
  z-index: 0;
}
.when-our-leaves {
  width: 228px;
  position: relative;
  line-height: 14px;
  font-weight: 500;
  display: inline-block;
  z-index: 1;
}
.text-container,
.text2 {
  border-radius: var(--br-10);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text-container {
  width: 235px;
  background-color: var(--color-limegreen);
  padding: 7px 9px;
  box-sizing: border-box;
  z-index: 2;
}
.text2 {
  align-self: stretch;
  padding: var(--padding-2) 0 0;
  gap: var(--gap-4);
}
.trees-planted-in {
  align-self: stretch;
  position: relative;
  line-height: 14px;
  font-weight: 500;
}
.frame-item,
.id-en-version-share-button {
  position: absolute;
  margin: 0 !important;
  left: calc(50% - 145px);
}
.id-en-version-share-button {
  cursor: pointer;
  border: 0;
  padding: 0 9px;
  background-color: var(--color-darkslategray);
  height: 4.9%;
  top: 89.22%;
  bottom: 5.88%;
  border-radius: 12.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 3;
}
.frame-item {
  width: 1.5px;
  height: 39.02%;
  top: 47.25%;
  bottom: 13.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 4;
}
.you-plant-us-we-plant-jobs-parent {
  align-self: stretch;
  height: 201px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px var(--padding-20) 25px var(--padding-30);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-8);
  background-image: url(./public/Frame-13@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 4;
  text-align: left;
  font-size: var(--font-size-24);
  color: var(--color-darkslategray);
  font-family: var(--font-inter);
}
.you-plant-us {
  width: 182px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 800;
  display: inline-block;
  z-index: 0;
}
.with-your-funds-container {
  width: 215px;
  position: relative;
  font-size: var(--font-size-12);
  line-height: 14px;
  display: inline-block;
  z-index: 1;
}
.with-your-funds {
  margin: 0;
  font-weight: 500;
}
.green-programme-more-trees-ca {
  margin: 0;
}
.green-programme,
.more-trees-can {
  font-family: var(--font-inter);
}
.more-trees-can {
  font-weight: 500;
}
.id-en-version-leaf3-icon {
  width: 40.2px;
  position: absolute;
  margin: 0 !important;
  height: 27.06%;
  top: 18.91%;
  bottom: 54.03%;
  left: calc(50% + 56px);
  max-height: 100%;
  object-fit: contain;
  display: none;
  z-index: 2;
}
.vector-parent {
  align-self: stretch;
  height: 301px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px var(--padding-30);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-10);
  background-image: url(./public/Frame-14@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 5;
}
.frame-inner {
  width: 1.5px;
  height: 76.41%;
  top: 0.33%;
  bottom: 23.26%;
  left: calc(50% + 145px);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 0;
}
.frame-inner,
.leaf9-icon,
.share-button2 {
  position: absolute;
  margin: 0 !important;
}
.share-button2 {
  cursor: pointer;
  border: 0;
  padding: 0 9px;
  background-color: var(--color-darkslategray);
  width: 82px;
  height: 8.31%;
  top: 81.73%;
  bottom: 9.97%;
  left: calc(50% + 63px);
  border-radius: 12.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
}
.leaf9-icon {
  width: 37.9px;
  height: 8.7%;
  top: 60.47%;
  bottom: 30.83%;
  left: calc(50% - 168px);
  max-height: 100%;
  object-fit: contain;
  z-index: 2;
}
.see-how-big-one-small-action-c-parent {
  align-self: stretch;
  height: 417px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 25px var(--padding-20) 25px var(--padding-30);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-8);
  background-image: url(./public/Frame-12@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 6;
  text-align: left;
  font-size: var(--font-size-24);
  color: var(--color-darkslategray);
  font-family: var(--font-inter);
}
.see-how-big-container {
  width: 265px;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 24px;
  font-weight: 800;
  display: inline-block;
  z-index: 0;
}
.your-tree-has-container {
  width: 258px;
  position: relative;
  font-size: var(--font-size-12);
  line-height: 14px;
  display: inline-block;
  z-index: 1;
}
.redeem-button,
.terms-conditions {
  position: absolute;
  margin: 0 !important;
}
.redeem-button {
  cursor: pointer;
  border: 0;
  padding: 0 9px;
  background-color: var(--color-darkslategray);
  width: 172px;
  height: 6%;
  top: 87.05%;
  bottom: 6.95%;
  left: calc(50% - 86px);
  border-radius: 12.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 2;
}
.terms-conditions {
  width: 71px;
  top: 95.44%;
  left: calc(50% - 36px);
  font-size: 7.5px;
  text-decoration: underline;
  letter-spacing: -0.01em;
  line-height: 8px;
  display: inline-block;
  color: var(--color-white);
  text-align: center;
  z-index: 3;
}
.id-en-version-leaf8-icon {
  width: 58.2px;
  position: absolute;
  margin: 0 !important;
  height: 10.34%;
  top: 36.21%;
  bottom: 53.45%;
  left: calc(50% + 81px);
  max-height: 100%;
  object-fit: contain;
  z-index: 4;
}
.this-tree-redemption-campaign-wrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-2) 25px 25px;
  background-image: url(./public/Frame-11@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.this-tree-redemption-container {
  width: 300px;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 8px;
  display: inline-block;
  flex-shrink: 0;
}
.this-tree-redemption-campaign {
  margin: 0;
  font-size: inherit;
  padding-left: var(--padding-10);
}
.id-en-version-this-tree-redemption-campaign {
  margin-bottom: 1.5px;
}
.this-tree-redemption {
  font-weight: 300;
}
.are-eligible-to {
  font-weight: 300;
  font-family: var(--font-inter);
}
.en-wrapper,
.switch-language {
  border-radius: var(--br-4);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.switch-language {
  width: 44px;
  height: 24px;
  margin: 0 !important;
  position: absolute;
  top: 20px;
  left: 286px;
  box-shadow: 0 2px 2px rgba(0, 85, 56, 0.25);
  background-color: var(--color-whitesmoke);
  padding: var(--padding-2);
  z-index: 8;
  text-align: center;
  font-size: var(--font-size-10);
  color: var(--color-darkslategray);
}
.en-wrapper {
  height: 20px;
  width: 20px;
  background-color: var(--color-beige);
  flex-direction: column;
  padding: var(--padding-4) var(--padding-1);
}
.en {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 8px;
}
.id-wrapper {
  height: 20px;
  width: 20px;
  border-radius: var(--br-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4) var(--padding-1);
  box-sizing: border-box;
}
